body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav ul li, footer ul li {
    float: left;
}
a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not, footer li a:hover:not {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
