body {
    margin: 60px auto;
    width: 70%;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

.pageParts h1 {
	font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.pageParts li {
	font-size: 1.3em;
    line-height: 1.2em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.allGamesWrap {
	display: inline-block;
	width: 100%;
}

.gameImageWrap {
    margin-right: 50px;
	text-align: center;
}

.allFilmsWrap {
	text-align: center;
	display: inline-block;
	width: 100%;
}

/*Navigation*/

nav {
	width: 100%;
    position: fixed;
    top: 0;
	left: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

nav .active {
    background-color: #4CAF50;
}

/*Footer*/

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    color: #999;
}

footer a:hover {
    text-decoration: underline;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}