h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

.contentWrap {
    margin: 60px auto;
    width: 70%;
}

.listParts h1 {
	font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.listParts li {
	font-size: 1.3em;
    line-height: 1.2em;
    color: #333;
}

.allGamesWrap {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
	border: 1px solid #d5d5d5;
	display: inline-block;
	width: 100%;
}
.gameImageWrap {
    margin-right: 50px;
	text-align: center;
}

.allFilmsWrap {
	text-align: center;
	border: 1px solid #d5d5d5;
	display: inline-block;
	width: 100%;
}

ul.posts { 
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/*Navigation*/

nav {
	width: 100%;
    position: fixed;
    top: 0;
	left: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

/*Footer*/

footer {
    border-top: 1px solid #d5d5d5;
	width: 100%;
    bottom: 0;
	left: 0;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer ul li {
    float: left;
}

footer a {
    display: block;
    color: #3d3d3d;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}