<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/bar.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Domov</a></li>
		        	<li><a href="/about">O mne</a></li>
	        		<li><a href="/WP">Webové publikovanie</a></li>
	        		<li><a href="/projects">Projekty</a></li>
	        		<li><a href="/interests">Záujmy</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			
			{% include footer.html %}
			
		</body>
	</html>
