---
layout: default
---

{{ content }}

<p>&nbsp;</p>
<div class="listParts" style="text-align: center">
	<h1>Filmy a seriály, ktoré som videl</h1>

	{% assign films = site.data.films | sort: "rating" | reverse %}
	{% for film in films %}
	{% assign loopindex = forloop.index %}
	<section class="film">
		<div class="allFilmsWrap">
			{% if loopindex == 1 %}
				<h2>{{ forloop.index }}. {{ film.name }} <sup>(najlepší)</sup></h2>
			{% else %}
				<h2>{{ forloop.index }}. {{ film.name }}</h2>
			{% endif %}
			{% youtube film.trailer %}
			<ul style="list-style-type:none">
				<li><strong>Kategória:</strong> {{ film.category }}</li>
				<li><strong>Žáner:</strong> {{ film.genre }}</li>
				<li><strong>Dátum vydania:</strong> {{ film.date | date_to_string }}</li>
				<li><strong>Moje hodnotenie:</strong> {{ film.rating }} / 20</li>
			</ul>
		</div>
	</section>
	{% endfor %}
</div>